.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.mb-1px {
    margin-bottom: 1px;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-337 {
    margin-bottom: 315px;
}

.mb-footer {
    margin-bottom: 466px;
}
.error-300{
    color: var(--error-300);
}

.padding-60 {
    padding: 0px 60px;
}
.column {
    flex-direction: column;
}

.link {
    color: #2962FF;
    border: none;
    padding: 10px;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
}

.blue-header {
  color: var(--blue-header )
}

.center {
    text-align: center;
}

.bt {
    border-bottom: rgba(0, 0, 0, 0.12) solid;
}

/* colors */
.white {
    color: #fff;
}

.primary {
    color: #262626;
}

.secondary {
    color: #595959;
}

.button-style {
    color: red;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
}