.star {
  filter: drop-shadow(0px 0px 1px black);
}

.favorite-toggle:hover {
  filter: drop-shadow(0px 0px 3px black);
}

.container-header {
  padding: 12px 10px;
}

.container-header2 {
  padding: 15px 10px;
}

.container-body {
  padding: 14px 10px;
  height: 56px;
  border-bottom: rgba(0, 0, 0, 0.12) solid;
  display: flex;
}

.contact-list li div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.contact-list li div a {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-list .avatar-small {
  margin: 12px 0 12px 20px;
}

.contact-list .js-contact-show {
  margin-left: 32px;
  color: #262626;
}

.contact-list a img {
  margin-right: 16px;
}

.js-create-link {
  display: flex;
  justify-content: flex-end;
  background-color: #e8eaed;
  padding: 16px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.contact-detail {
  margin-left: 60px;
}

/* .js-product- */